:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--off-white);
}

body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
  margin: 4rem 0.875rem;
  padding: 2.875rem 1.5rem;
  border-radius: 20px 20px 100px 20px;
}

form {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

form > div > label {
  color: var(--smokey-grey);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
}

form > div {
  width: auto;
}

label {
  font-weight: 700;
  display: block;
  width: fit-content;
  margin-bottom: 0.4rem;
}

label.error {
  color: var(--light-red);
}

input {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px var(--light-grey) solid;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

input.error {
  outline: 1px solid var(--light-red);
}

input:focus {
  outline: 1px solid var(--purple);
  caret-color: var(--purple);
}

p {
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 500;
  color: var(--light-red);
}

.separator-container {
  display: flex;
  align-items: center;
  margin: 1.875rem 0;
}

.separator-container .separator {
  height: 2px;
  background-color: var(--off-white);
  flex: 1;
}

main {
  font-weight: 700;
}

.result {
  color: var(--purple);
}

button {
  background: var(--purple);
  border: none;
  border-radius: 100%;
  padding: 1rem;
  z-index: 999;
}

button:focus-visible {
  outline: 2px solid var(--off-black);
}

button:hover {
  background: var(--off-black);
  transition: all 0.15s;
  cursor: pointer;
}

img {
  width: 1.625rem;
}

section {
  font-weight: bolder;
  font-style: italic;
  font-size: 2.5rem;
}

section :nth-child(1), section :nth-child(2) {
  margin-bottom: -0.75rem;
}

section span {
  margin-right: -0.125rem;
}

@media (min-width: 321px) {
  section {
    font-size: 3rem;
  }

  section :nth-child(1), section :nth-child(2) {
    margin-bottom: -1rem;
  }

  section span {
    margin-right: -0.25rem;
  }

  button {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 376px) {
  section {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 426px) {
  section {
    font-size: 3.75rem;
  }

  section :nth-child(1), section :nth-child(2) {
    margin-bottom: -1.25rem;
  }

  section span {
    margin-right: -0.5rem;
  }
}

@media (min-width: 769px) {
  body {
    width: 60%;
    padding: 3.375rem 3.25rem;
    border-radius: 20px 20px 200px 20px;
  }

  .separator-container {
    margin: 0;
  }

  .separator-container :nth-child(1) {
    order: 1;
  }

  .separator-container :nth-child(2) {
    order: 3;
  }

  .separator-container :nth-child(3) {
    order: 2;
  }

  img {
    width: 2.5rem;
  }

  button {
    padding: 1.5rem;
  }

  section div {
    height: auto;
  }

  input {
    padding: 1.25rem;
    font-size: 1.5rem;
  }

  section {
    font-size: 5.25rem;
  }

  section :nth-child(1), section :nth-child(2) {
    margin-bottom: -2rem;
  }

  form {
    grid-template-columns: repeat(3, 25%);
  }
}

@media screen and (min-width: 1150px) {
  form {
    column-gap: 2rem;
  }

  section {
    font-size: 5.5rem;
  }
}